<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
   <link rel="stylesheet" href="./static/styles.css">
</head>

<body>
    <h1> Registro y autenticacion de usuarios </h1>
    <a href="{{url_for('login')}}"> Log-in / Autenticacion de usuarios registrados </a> <br><br>
    <a href="{{url_for('signup')}}"> Sign-up / Registro de usuarios nuevos </a> 

</body>
</html>